.Rproj.user
.Rhistory
.Rdata
.httr-oauth
.DS_Store
raw_data
sequences
slurm-*.out
worker-*.out
crew-*.out
crew_*.out
renv.lock
.Rprofile
renv
restorationmodel
_targets
bin
data
*.Rproj
!optimotu_targets.Rproj
protaxAnimal
output
temp
logs
custom_protax
reports
sequences
.cursor
.vscode
