.Rproj.user
.Rhistory
.Rdata
.httr-oauth
.DS_Store
raw_data
sequences
slurm-*.out
worker-*.out
renv.lock
.Rprofile
renv
restorationmodel
_targets
bin
indata
outdata
*.Rproj
!its2_taxonomy_first.Rproj
