#!/bin/sh
#SBATCH --account project_2003104
#SBATCH --partition small
#SBATCH --job-name={{ job_name }}
#SBATCH --output={{ log_file | /dev/null }}
#SBATCH --error={{ log_file | /dev/null }}
#SBATCH --mem-per-cpu={{ memory | 8192 }}
#SBATCH --array=1-{{ n_jobs }}
#SBATCH --cpus-per-task={{ cores | 1 }}
#SBATCH --ntasks=1
#SBATCH --time={{ time | 1:00:00 }}

CMQ_AUTH={{ auth }} \
  singularity exec -B /scratch deadwood_restoration_bioinformatics.sif \
  R --no-save --no-restore -e 'clustermq:::worker("{{ master }}")'
